@charset "UTF-8";

/* 回答はここに書いてね */

/* Q6-1 */

.common {
	width: 90px;
	background-color: #e6f2ff;
	padding: 10px 0;
}

.text_align {
	text-align: center;
}

.box_left {
	display: inline-block;
}

.box_right {
	margin: 0 auto;
	text-align: center;
}

/* Q6-2 */

.table {
	display: table;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.table_cell_p {
	background-color: #fff;
	padding: 10px;
	display: inline-block;
}

.body {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex {
	display: flex;
	background-color: #fff;
	vertical-align: middle;
	padding: 10px;
}

/* Q6-3 */

.q6__box.is-stable.stable {
	position: relative;
}

.q6__box__inner.bule_left {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.q6__box.is-flexible.flexible{
	position: relative;
}

.blue_right {
	position: absolute;
	top: 50%;
	left: 50%;
	transform : translate(-50%, -50%)
}

/* 回答はここに書いてね */
